html{
    position: relative;
}

body{
    height: 2000px;
    background-color: rgb(0, 0, 0);
}

#frame {
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    background-color: whitesmoke;
}

#navigation_open {
    height: 60px;
    width: 60px;
    position: fixed;
    top: 30px;
    left: -100px;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#navigation_panel {
    height: 340px;
    width: 320px;
    background-color: rgb(93, 93, 93);
    position: fixed;
    top: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#navigation_panel .additional{
    background-color: #838585;
    height: 60px;
}

#navigation_header {
    border-top-right-radius: 15px;
}

#navigation footer {
    border-bottom-right-radius: 15px;
}

.nav_close_button {
    padding-top: 5px;

}


#img_nav_close_hover{
    position: absolute;
    left: 260px;
    display: none;
}


#img_nav_close_reg{
    float: right;
    position: relative;
    margin-right: 9px;
}


#navigation_main {
    background-color: rgb(93, 93, 93);
    height: 220px;
}


.button {
    align-self: center;
    width: 80%;
    background-color: #ebebe9;
    height: 40px;
    margin: 4px auto auto;
    border-radius: 20px;
}


#img_nav_open_reg {
    position: relative;
}


#img_nav_open_hover {
    position: absolute;
    left: 0px;
    display: none;
}