html{
    position: relative;
}

body{
    height: 1000px;
    background-color: rgb(0, 0, 0);
}

#frame {
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    background-color: whitesmoke;
    text-align: center;
}

#login_form {
    text-align: center;
    background-color: #e0ddda;
    display: inline-block;
    vertical-align: middle;
    margin-top: 25%;
    height: 35%;
    width: 30%;
    border: solid black;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;

}

#submit_login {
    background-color: black;
    margin: 10% auto auto;
    height: 10%;
    width: 40%;
    text-align: center;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

#submit_login_text {
    padding-top: 3%;
    text-align: center;
    font-family: NanumGothic, serif;
    color: white;
    font-weight: 900;
    font-size: 20px;

}

.login_form_field_name {
    width: 50%;
    margin: 2% auto auto;
    text-align: center;
    font-size: 28px;
    font-family: NanumGothic, serif;
}

.login_form_field {
    font-size: 28px;
    font-weight: bold;
    height: 10%;
    width: 50%;
    text-align: center;
    margin-bottom: 5%;
    border-radius: 25px;
}